<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<th:block th:if="${!stages.isEmpty()}">
    <form action="playoff/stage" method="post">
        <select name="stage">
            <option th:each="stage:${stages}"
                    th:value="${stage}"
                    th:text="${stage}"
                    >stages</option>
        </select>
        <button class="btn btn-sm btn-success" type="submit" name="action" value="update">Add Stage</button>
    </form>
</th:block>

<table>
    <tr>
       <td>
           <table>
               <form name="twitter">
                   debug=true
                   oauth.consumerKey=*********************
                   oauth.consumerSecret=******************************************
                   oauth.accessToken=**************************************************
                   oauth.accessTokenSecret=******************************************
                   <tr>
                       <td>Oauth consumerKey </td>
                       <td>
                           <input type="text" name="oauth.consumerKey"/>
                       </td>
                   </tr>
                   <tr>
                       <td>Oauth consumerSecret </td>
                       <td>
                           <input type="text" name="oauth.consumerSecret"/>
                       </td>
                   </tr>
                   <tr>
                       <td>Oauth accessToken </td>
                       <td>
                           <input type="text" name="oauth.accessToken"/>
                       </td>
                   </tr>
                   <tr>
                       <td>Oauth accessTokenSecret </td>
                       <td>
                           <input type="text" name="oauth.accessTokenSecret"/>
                       </td>
                   </tr>
               </form>
           </table>
       </td>
    </tr>
</table>

</body>
</html>
