<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
            #cssTable td
            {
                text-align:center;
                vertical-align:middle;
            }
        </style>
</head>
<body>
<p id="navigation">
    <a href="/">Leaderboard</a>
    <a href="/group/A">GroupA</a>
    <a href="/group/B">GroupB</a>
    <a href="/group/C">GroupC</a>
    <a href="/group/D">GroupD</a>
    <a href="/group/E">GroupE</a>
    <a href="/group/F">GroupF</a>
    <a href="/group/G">GroupG</a>
    <a href="/group/H">GroupH</a>
    <a href="/playoff">Playoff</a>
</p>
<p>
    That didn't go too well....

</p>
</body>
</html>