<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<table>
    <tr th:if="${activeUser.email == null} == false">
        <td>
            <a href="" th:href="@{'/user/'+activeUser.displayName}" th:text="${activeUser.displayName}"></a>
        </td>
        <td>
            <a href="/logout">Logout</a>
        </td>
    </tr>
    <tr th:if="${activeUser.email == null} == true">
        <form action="/user" method="post">
            <td>
                <label>New user? </label>
            </td>
            <td>
                <input type="checkbox" name="new" value="new"/>
            </td>
            <td>
                <label>Email </label>
            </td>
            <td>
                <input type="txt" id="email" name="email" value="email"/>
            </td>
            <td>
                <label>Password </label>
            </td>
            <td>
                <input type="password" name="credentials" id="credentials" value="pwd"/>
            </td>
            <td>
                <button class="btn btn-sm btn-success" type="submit">Submit</button>
            </td>
        </form>
    </tr>
</table>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Leaderboard</a></li>
                <li><a href="/group/A">GroupA</a></li>
                <li><a href="/group/B">GroupB</a></li>
                <li><a href="/group/C">GroupC</a></li>
                <li><a href="/group/D">GroupD</a></li>
                <li><a href="/group/E">GroupE</a></li>
                <li><a href="/group/F">GroupF</a></li>
                <li><a href="/group/G">GroupG</a></li>
                <li><a href="/group/H">GroupH</a></li>
                <li><a href="/playoff">Playoff</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<table width="75%">
    <tr>
        <td width="30%">
            <table valign="top" width="100%" class="table table-striped">
                <thead>
                <tr>
                    <th align="center"></th>
                    <th align="center"> Current standings</th>
                    <th align="center"></th>
                    <th align="center"></th>
                    <th align="center"></th>
                    <th align="center"></th>
                    <th align="center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tableEntry, iterStat : ${currentStandings}">
                    <td width="15%"><label id="position" th:text="${iterStat.count}">label</label></td>
                    <td width="40%" id="team" th:text="${tableEntry.team}">team</td>
                    <td width="10%" th:text="${tableEntry.goalsFor}">for</td>
                    <td width="5%"> -</td>
                    <td width="10%" th:text="${tableEntry.goalsAgainst}">against</td>
                    <td width="10%" th:text="${tableEntry.goalDifference()}">diff</td>
                    <td width="10%" th:text="${tableEntry.points + 'p'}">points</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td width="15%">
            &nbsp;
        </td>
        <td width="30%">
            <form id="predicionForm" action="" th:action="@{'/prediction/'+${group}}" method="post">
                <table width="100%" th:if="${canEdit}" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th> Group prediction</th>
                    </tr>
                    </thead>
                    <tr>
                        <td width="5%">1</td>

                        <td width="95%">
                            <input type="text" id="prediction1" name="prediction1" th:value="${prediction.get(0)}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="5%"> 2</td>
                        <td width="95%">
                            <input type="text" id="prediction2" name="prediction2" th:value="${prediction.get(1)}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="5%">3</td>
                        <td width="95%">
                            <input type="text" id="prediction3" name="prediction3" th:value="${prediction.get(2)}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="5%">4</td>
                        <td width="95%">
                            <input type="text" id="prediction4" name="prediction4" th:value="${prediction.get(3)}"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="5%">

                        </td>
                        <td align="left" width="95%" colspan="2">
                            <button type="submit" class="btn btn-sm btn-success">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
<p height="30px">&nbsp;</p>

<form id="matchForm" action="" th:action="@{'/group/'+${group}}" method="post">
    <table width="75%" class="table table-striped">
        <thead>
        <tr>
            <th width="20%">Date</th>
            <th align="center">Home Team</th>
            <th width="1%">&nbsp;</th>
            <th align="center">Away Team</th>
            <th width="8%">&nbsp;</th>
            <th width="1%">&nbsp;</th>
            <th width="8%">&nbsp;</th>
            <th width="2%">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="match,iterStat : ${matches}">
            <td th:text="${#dates.format(match.matchStart,'dd MMMM yyyy HH:mm')}">start</td>
            <td th:text="${match.homeTeam}">home</td>
            <td>-</td>
            <td th:text="${match.awayTeam}">Away</td>
            <td >
                <input type="text" size="2"
                       id="${match.id}_home"
                       th:value="${match.homeGoalsAsStringFor(activeUser.email)}"
                       name=""
                       th:name="${match.id+'_h'}"
                       th:if="${canEdit}"/>
            </td>
            <td>
                <label th:if="${canEdit}">-</label>
            </td>
            <td >
                <input type="text" size="2"
                       id="${match.id}_away"
                       name="away"
                       th:value="${match.awayGoalsAsStringFor(activeUser.email)}"
                       th:name="${match.id+'_a'}"
                       th:if="${canEdit}"/>
            </td>

            <td th:if="${match.hasResult()}">
                <label th:if="${activeUser != null}"
                       th:text="${match.scoreFor(activeUser.email?: '_anonymous_') + 'p'}"/>
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="3" align="left">
                <button class="btn btn-sm btn-success" type="submit" th:if="${canEdit}">Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>