<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<table width="75%">
    <tr th:if="${activeUser.admin}">

        <td width="30%">
            <form id="groupNameForm" action="" th:action="@{'/group/'+${group.getGroupId()}+'/name'}" method="post">
                    <input type="text" name="groupName" id="groupName" th:value="${group.groupName}" size="25"/>
                    <button class="btn btn-sm btn-success" type="submit" name="groupName">Rename</button>
            </form>
        </td>
        <td width="15%"></td>
        <td width="30%"></td>

    </tr>

    <tr>
        <td width="30%">

            <table valign="top" width="100%" class="table table-striped">
                <thead>
                <tr>
                    <th align="center">Pos.</th>
                    <th align="center">Team</th>
                    <th align="center">Scored</th>
                    <th align="center"></th>
                    <th align="center">Against</th>
                    <th align="center">+/-</th>
                    <th align="center">Points</th>
                    <th align="center">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="tableEntry, iterStat : ${currentStandings}">
                        <td width="15%"><label id="position" th:text="${iterStat.count}">label</label></td>
                        <td width="40%" id="team" th:text="${tableEntry.team}">team</td>
                        <td width="10%" th:text="${tableEntry.goalsFor}">for</td>
                        <td width="5%"> -</td>
                        <td width="10%" th:text="${tableEntry.goalsAgainst}">against</td>
                        <td width="10%" th:text="${tableEntry.goalDifference()}">diff</td>
                        <td width="5%" th:text="${tableEntry.points + 'p'}">points</td>
                        <td width="5%">
                               <th:block th:if="${activeUser.admin}">
                                   <form id="dropTeamForm" action="" th:action="@{'/group/'+${group.getGroupId()}+'/drop/'+${tableEntry.team}}" method="post">
                                        <button class="btn btn-xs btn-danger" type="submit" name="dropTeam">-</button>
                                   </form>
                               </th:block>
                        </td>
                    </tr>
                    <tr th:if="${activeUser.admin}">
                        <form id="teamForm" action="" th:action="@{'/group/'+${group.getGroupId()}+'/add'}" method="post">
                            <td colspan="8"><input type="text" name="newTeam" id="newTeam" size="25"/>
                                <button class="btn btn-sm btn-success" type="submit" name="addTeam">addTeam</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </td>
        <td width="15%">
            &nbsp;
        </td>
        <td width="30%">
            <form id="predicionForm" action="" th:action="@{'/user/prediction/'+${group.getGroupId()}}" method="post">
                <table width="100%" th:if="${canEdit}" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th> Group prediction</th>
                    </tr>
                    </thead>

                    <tr th:each="pred, iterStat : ${prediction.tablePrediction}">
                        <td width="5%"><label th:text="${iterStat.count}">label</label></td>
                        <td width="95%">
                            <select th:name="${'prediction'+iterStat.count}" th:disabled="not ${prediction.editable(activeUser)}">
                                <option value="--">--</option>
                                <option th:each="team : ${currentStandings}"
                                        th:text="${team.team}"
                                        th:selected="${team.team.equals(pred)}"
                                        >teams</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="5%">

                        </td>
                        <td align="left" width="95%" colspan="2">
                            <button type="submit" th:if="${prediction.editable(activeUser)}" class="btn btn-sm btn-success">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
<p height="30px">&nbsp;</p>

    <table width="75%" class="table table-striped">
        <thead>
        <tr>
            <th width="5%">&nbsp;</th>
            <th width="15%">Date</th>
            <th align="center">Home Team</th>
            <th width="1%">&nbsp;</th>
            <th align="center">Away Team</th>
            <th width="4%">&nbsp;</th>
            <th width="1%">&nbsp;</th>
            <th width="4%">&nbsp;</th>
            <th width="2%">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${activeUser.admin}">
            <form id="addForm" action="" th:action="@{'/group/'+${group.getGroupId()}+'/match'}" method="post">
                <td>&nbsp;</td>
                <td><input type="datetime-local" name="matchDate"/></td>
                <td>
                    <select name="homeTeam">
                        <option th:each="team : ${group.teams}" th:text="${team}">teams</option>
                    </select>
                </td>
                <td>-</td>
                <td>
                    <select name="awayTeam">
                        <option th:each="team : ${group.teams}" th:text="${team}">teams</option>
                    </select>
                </td>
                <td colspan="3">
                    <label th:text="${dateFormatError}">&nbsp;</label>
                </td>
                <td>
                    <button class="btn btn-xs btn-success" type="submit" th:if="${prediction.editable(activeUser)}">+</button>
                </td>

            </form>
        </tr>
        <form id="matchForm" action="" th:action="@{'/user/results/'+${group.getGroupId()}}" method="post">
        <tr th:each="match,iterStat : ${matches}">
            <td>
                <th:block th:if="${activeUser.admin}">
                    <a href="user"
                       class="btn btn-xs btn-danger"
                       th:href="@{'/group/match/'+${match.id}+'/delete'}">-</a>

                </th:block>
            </td>

            <td th:text="${#dates.format(match.matchStart,'dd MMMM yyyy HH:mm')}">start</td>
            <td th:text="${match.homeTeam}">home</td>
            <td>-</td>
            <td th:text="${match.awayTeam}">Away</td>


            <td align="right">
                <input type="text" size="2"
                       id="${match.id}_home"
                       th:value="${match.resultFor(activeUser.id).homeGoals}"
                       name=""
                       th:name="${match.id+'_h'}"
                       th:readonly="not ${match.editable(activeUser)}"/>
            </td>
            <td><label>-</label></td>
            <td>
                <input type="text" size="2"
                       id="${match.id}_away"
                       name="away"
                       th:value="${match.resultFor(activeUser.id).awayGoals}"
                       th:name="${match.id+'_a'}"
                       th:readonly="not ${match.editable(activeUser)}"/>
            </td>

            <td>
                <th:block th:if="${activeUser.isValid()}">
                    <label th:if="${match.hasResult()}"
                       th:text="${match.scoreFor(activeUser.id) + 'p'}"/>
                </th:block>
            </td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="3" align="left">
                 <button class="btn btn-sm btn-success" type="submit" th:if="${prediction.editable(activeUser)}">Submit</button>
            </td>
        </tr>
        </form>
        </tbody>
    </table>
</body>
</html>