<!doctype html>
<html>
<body>
    <p id="text">text</p>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function() {
            alert('ready');
            $.ajax({
                url: "/matches",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    format: "json"
                },
                success: function( response ) {
                    console.log( response );
                }
            });
        });

    </script>
</body>
</html>