<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>

<body>
<table>
    <tr th:if="${activeUser.email == null} == false">
        <td>
            <a href="" th:href="${'/user/'+activeUser.displayName}" th:text="${activeUser.displayName}"></a>
        </td>
        <td>
            <a href="/logout">Logout</a>
        </td>
    </tr>
    <tr th:if="${activeUser.email == null} == true">
        <td>
            <form action="/user" method="post">
                <label>New user? </label><input type="checkbox" name="new" value="new"/>
                <label>Email  </label><input type="txt" id="email" name="email" value="email"/>
                <label>Password  </label><input type="password" name="credentials" id="credentials" value="pwd"/>
                <button type="submit">Submit</button>
            </form>
        </td>
    </tr>
</table>
<p id="navigation">
    <a href="/">Leaderboard</a>
    <a href="/group/A">GroupA</a>
    <a href="/group/B">GroupB</a>
    <a href="/group/C">GroupC</a>
    <a href="/group/D">GroupD</a>
    <a href="/group/E">GroupE</a>
    <a href="/group/F">GroupF</a>
    <a href="/group/G">GroupG</a>
    <a href="/group/H">GroupH</a>
    <a href="/playoff">Playoff</a>
</p>
<table>
    <td width="35%%">
        <!-- user list -->
        <table>
            <tr>
                <td colspan="2">
                    <h2> Active Users </h2>
                </td>
            </tr>
            <tr th:each="user,iterStat : ${userList}" th:class="${iterStat.odd}? 'odd'" th:if="${user.admin} == false">
                <td> <a href="" th:href="@{'user/'+ ${user.displayName}}" th:text="${user.displayName}"></a></td>
                <td th:text="${user.email}">email</td>
            </tr>
        </table>
    </td>
    <td width="30%" >&nbsp;</td>
    <td width="35%">
        <!-- Leader board -->
        <table>
            <tr>
                <td colspan="2">
                    <h2> Leaderboard </h2>
                </td>
            </tr>
            <tr th:each="entry,iterStat : ${leaderBoard}" th:class="${iterStat.odd}? 'odd'" th:if="${entry[0].admin} == false">
                <td th:text="${entry[0].displayName}">displayname</td>
                <td th:text="${entry[1]}">points</td>
            </tr>
        </table>
    </td>
</table>
</body>
</html>