<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Leaderboard</a></li>
            <li><a href="/group/A">GroupA</a></li>
            <li><a href="/group/B">GroupB</a></li>
            <li><a href="/group/C">GroupC</a></li>
            <li><a href="/group/D">GroupD</a></li>
            <li><a href="/group/E">GroupE</a></li>
            <li><a href="/group/F">GroupF</a></li>
            <li><a href="/group/G">GroupG</a></li>
            <li><a href="/group/H">GroupH</a></li>
            <li><a href="/playoff">Playoff</a></li>
            <li><a href="user"
                   th:href="@{'/user/'+ ${activeUser.displayName}}"
                   th:text="${activeUser.displayName}"
                   th:if="${activeUser.isValid()}"></a>
            </li>
            <li><a href="/user"
                   th:if="${not activeUser.isValid()}">Register</a>
            </li>
            <li><a href="/logout" th:if="${activeUser.isValid()}">Logout</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>


<table width="100%" >
    <thead>
        <tr>
            <th>Active Users</th>
            <th></th>
            <th>Leaderboard (including current standings)</th>
        </tr>
    </thead>
    <td width="35%">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                     Username
                </th>
                <th>
                    Email
                </th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}" th:if="${not (user.displayName == 'Admin')}">
                    <td>
                        <a href="" th:href="@{'user/'+ ${user.displayName}}" th:text="${user.displayName}"></a>
                    </td>
                    <td th:text="${user.email}">email</td>
                </tr>
            </tbody>
        </table>
    </td>
    <td width="10%" >&nbsp;</td>
    <td width="55%">
        <table class="table table-striped">
            <thead>
                <th>username</th>
                <th>Points</th>
            </thead>
            <tbody>
                <tr th:each="entry : ${leaderBoard}" th:if="${not (entry[0].displayName == 'Admin')}">
                    <td><label th:text="${entry[0].displayName}">displayname</label></td>
                    <td><label th:text="${entry[1]}">points</label></td>
                </tr>
            </tbody>
        </table>
    </td>
</table>
</body>
</html>