<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Leaderboard</a></li>
            <li><a href="/group/A">GroupA</a></li>
            <li><a href="/group/B">GroupB</a></li>
            <li><a href="/group/C">GroupC</a></li>
            <li><a href="/group/D">GroupD</a></li>
            <li><a href="/group/E">GroupE</a></li>
            <li><a href="/group/F">GroupF</a></li>
            <li><a href="/group/G">GroupG</a></li>
            <li><a href="/group/H">GroupH</a></li>
            <li><a href="/playoff">Playoff</a></li>
            <li><a href="user"
                   th:href="@{'/user/'+ ${activeUser.displayName}}"
                   th:text="${activeUser.displayName}"
                   th:if="${activeUser.isValid()}"></a>
            </li>
            <li><a href="/user"
                   th:if="${not activeUser.isValid()}">Register</a>
            </li>
            <li><a href="/logout" th:if="${activeUser.isValid()}">Logout</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<form action="/playoff" method="post">
<table width="100%">
    <thead>
    <th width="24%">Last sixteen</th>
    <th width="1%">&nbsp;</th>
    <th width="24%">Quarter Finals</th>
    <th width="1%">&nbsp;</th>
    <th width="24%">Semi Finals</th>
    <th width="1%">&nbsp;</th>
    <th width="25%">Final</th>
    </thead>
    <tbody>
        <tr>
            <td width="24%"> <!-- 16 -->
                <table class="table table-striped" width="100%">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <th:block th:each="match : ${last16}">
                            <tr>
                                <td colspan="3">
                                    <label th:text="${#dates.format(match.matchStart,'dd MMMM yyyy HH:mm')}">
                                        start</label>
                                </td>
                            </tr>
                            <tr>
                                <td width="5%">
                                    <input type="radio"
                                           th:name="${match.id + '_win'}"
                                           th:value="${match.homeTeam}"
                                           th:checked="${match.homeTeam.equals(match.resultFor(activeUser.id).promoted)}"/>
                                </td>
                                <td width="90%">
                                    <label th:if="${not activeUser.admin}" th:text="${match.homeTeam}"></label>
                                    <input type="text"
                                           th:value="${match.homeTeam}"
                                           th:id="${match.id +'_homeTeam'}"
                                           th:name="${match.id +'_homeTeam'}"
                                           th:if="${activeUser.admin}"/>

                                </td>
                                <td width="5%">
                                    <input type="text" size="2" maxlength="2"
                                           th:id="${match.id + '_h'}"
                                           name="away"
                                           th:value="${match.resultFor(activeUser.id).homeGoals}"
                                           th:name="${match.id+'_h'}"
                                           th:if="${match.editable(activeUser)}"/>
                                    <th:block th:if="${activeUser.isValid()}">
                                    <label th:if="${not match.editable(activeUser)}"
                                           th:text="${match.resultFor(activeUser.id).homeGoals}">
                                   </label>
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio"
                                           th:name="${match.id + '_win'}"
                                           th:value="${match.awayTeam}"
                                           th:checked="${match.awayTeam.equals(match.resultFor(activeUser.id).promoted)}"/>
                                </td>
                                <td>
                                    <label th:if="${not activeUser.admin}" th:text="${match.awayTeam}"></label>
                                    <input type="text"
                                           th:value="${match.awayTeam}"
                                           th:id="${match.id +'_awayTeam'}"
                                           th:name="${match.id +'_awayTeam'}"
                                           th:if="${activeUser.admin}"/>
                                </td>
                                <td>
                                    <input type="text" size="2" maxlength="2"
                                           th:id="${match.id+'_a'}"
                                           name="away"
                                           th:value="${match.resultFor(activeUser.id).awayGoals}"
                                           th:name="${match.id+'_a'}"
                                           th:if="${match.editable(activeUser)}"/>


                                    <th:block th:if="${activeUser.isValid()}">
                                        <label th:if="${not match.editable(activeUser)}"
                                           th:text="${match.resultFor(activeUser.id).awayGoals}"></label>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </td>
            <td>&nbsp;</td>
            <td width="24%"> <!-- QF -->
                <table class="table table-striped" width="100%">
                    <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <th:block th:each="match : ${quarterFinal}">
                        <tr>
                            <td colspan="3">
                                <label th:text="${#dates.format(match.matchStart,'dd MMMM yyyy HH:mm')}">
                                    start</label>
                            </td>
                        </tr>
                        <tr>
                            <td width="5%">
                                <input type="radio"
                                       th:name="${match.id + '_win'}"
                                       th:value="${match.homeTeam}"
                                       th:checked="${match.homeTeam.equals(match.resultFor(activeUser.id).promoted)}"/>

                            </td>
                            <td width="90%">
                                <label th:if="${not activeUser.admin}" th:text="${match.homeTeam}"></label>
                                <input type="text"
                                       th:value="${match.homeTeam}"
                                       th:id="${match.id +'_homeTeam'}"
                                       th:name="${match.id +'_homeTeam'}"
                                       th:if="${activeUser.admin}"/>

                            </td>
                            <td width="5%">
                                <input type="text" size="2" maxlength="2"
                                       th:id="${match.id + '_h'}"
                                       name="away"
                                       th:value="${match.resultFor(activeUser.id).homeGoals}"
                                       th:name="${match.id+'_h'}"
                                       th:if="${match.editable(activeUser)}"/>
                                <th:block th:if="${activeUser.isValid()}">
                                <label th:if="${not match.editable(activeUser)}"
                                       th:text="${match.resultFor(activeUser.id).homeGoals}"></label>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio"
                                        th:name="${match.id + '_win'}"
                                        th:value="${match.awayTeam}"
                                        th:checked="${match.awayTeam.equals(match.resultFor(activeUser.id).promoted)}"/>

                            </td>
                            <td>
                                <label th:if="${not activeUser.admin}" th:text="${match.awayTeam}"></label>
                                <input type="text"
                                       th:value="${match.awayTeam}"
                                       th:id="${match.id +'_awayTeam'}"
                                       th:name="${match.id +'_awayTeam'}"
                                       th:if="${activeUser.admin}"/>
                            </td>
                            <td>
                                <input type="text" size="2" maxlength="2"
                                       th:id="${match.id+'_a'}"
                                       name="away"
                                       th:value="${match.resultFor(activeUser.id).awayGoals}"
                                       th:name="${match.id+'_a'}"
                                       th:if="${match.editable(activeUser)}"/>
                                <th:block th:if="${activeUser.isValid()}">
                                <label th:if="${not match.editable(activeUser)}"
                                       th:text="${match.resultFor(activeUser.id).awayGoals}"></label>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </td>
            <td>&nbsp;</td>
            <td width="24%"> <!-- SF -->
                <table class="table table-striped" width="100%">
                    <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <th:block th:each="match : ${semiFinal}">
                        <tr>
                            <td colspan="3">
                                <label th:text="${#dates.format(match.matchStart,'dd MMMM yyyy HH:mm')}">
                                    start</label>
                            </td>
                        </tr>
                        <tr>
                            <td width="5%">
                                <input type="radio"
                                       th:name="${match.id + '_win'}"
                                       th:value="${match.homeTeam}"
                                       th:checked="${match.homeTeam.equals(match.resultFor(activeUser.id).promoted)}"/>
                            </td>
                            <td width="90%">
                                <label th:if="${not activeUser.admin}" th:text="${match.homeTeam}"></label>
                                <input type="text"
                                       th:value="${match.homeTeam}"
                                       th:id="${match.id +'_homeTeam'}"
                                       th:name="${match.id +'_homeTeam'}"
                                       th:if="${activeUser.admin}"/>

                            </td>
                            <td width="5%">
                                <input type="text" size="2" maxlength="2"
                                       th:id="${match.id + '_h'}"
                                       name="away"
                                       th:value="${match.resultFor(activeUser.id).homeGoals}"
                                       th:name="${match.id+'_h'}"
                                       th:if="${match.editable(activeUser)}"/>

                                <th:block th:if="${activeUser.isValid()}">
                                    <label th:if="${not match.editable(activeUser)}"
                                       th:text="${match.resultFor(activeUser.id).homeGoals}"></label>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <input type="radio"
                                    th:name="${match.id + '_win'}"
                                    th:value="${match.awayTeam}"
                                    th:checked="${match.awayTeam.equals(match.resultFor(activeUser.id).promoted)}"/>

                            </td>
                            <td>
                                <label th:if="${not activeUser.admin}" th:text="${match.awayTeam}"></label>
                                <input type="text"
                                       th:value="${match.awayTeam}"
                                       th:id="${match.id +'_awayTeam'}"
                                       th:name="${match.id +'_awayTeam'}"
                                       th:if="${activeUser.admin}"/>
                            </td>
                            <td>
                                <input type="text" size="2" maxlength="2"
                                       th:id="${match.id+'_a'}"
                                       name="away"
                                       th:value="${match.resultFor(activeUser.id).awayGoals}"
                                       th:name="${match.id+'_a'}"
                                       th:if="${match.editable(activeUser)}"/>

                                <th:block th:if="${activeUser.isValid()}">
                                    <label th:if="${not match.editable(activeUser)}"
                                       th:text="${match.resultFor(activeUser.id).awayGoals}"></label>
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </td>
            <td>&nbsp;</td>
            <td width="24%"> <!-- F -->
                <table class="table table-striped" width="100%">
                    <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <th:block th:each="match : ${final}">
                        <tr>
                            <td colspan="3">
                                <label th:text="${#dates.format(match.matchStart,'dd MMMM yyyy HH:mm')}">
                                    start</label>
                            </td>
                        </tr>
                        <tr>
                            <td width="5%">
                                <input type="radio"
                                       th:name="${match.id + '_win'}"
                                       th:value="${match.homeTeam}"
                                       th:checked="${match.homeTeam.equals(match.resultFor(activeUser.id).promoted)}"/>

                            </td>
                            <td width="90%">
                                <label th:if="${not activeUser.admin}" th:text="${match.homeTeam}"></label>
                                <input type="text"
                                       th:value="${match.homeTeam}"
                                       th:id="${match.id +'_homeTeam'}"
                                       th:name="${match.id +'_homeTeam'}"
                                       th:if="${activeUser.admin}"/>

                            </td>
                            <td width="5%">
                                <input type="text" size="2" maxlength="2"
                                       th:id="${match.id + '_h'}"
                                       name="away"
                                       th:value="${match.resultFor(activeUser.id).homeGoals}"
                                       th:name="${match.id+'_h'}"
                                       th:if="${match.editable(activeUser)}"/>

                                <th:block th:if="${activeUser.isValid()}">
                                    <label th:if="${not match.editable(activeUser)}"
                                       th:text="${match.resultFor(activeUser.id).homeGoals}"></label>
                                 </th:block>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio"
                                       th:name="${match.id + '_win'}"
                                       th:value="${match.awayTeam}"
                                       th:checked="${match.awayTeam.equals(match.resultFor(activeUser.id).promoted)}"/>

                            </td>
                            <td>
                                <label th:if="${not activeUser.admin}" th:text="${match.awayTeam}"></label>
                                <input type="text"
                                       th:value="${match.awayTeam}"
                                       th:id="${match.id +'_awayTeam'}"
                                       th:name="${match.id +'_awayTeam'}"
                                       th:if="${activeUser.admin}"/>
                            </td>
                            <td>
                                <input type="text" size="2" maxlength="2"
                                       th:id="${match.id+'_a'}"
                                       name="away"
                                       th:value="${match.resultFor(activeUser.id).awayGoals}"
                                       th:name="${match.id+'_a'}"
                                       th:if="${match.editable(activeUser)}"/>

                                <th:block th:if="${activeUser.isValid()}">
                                    <label th:if="${not match.editable(activeUser)}"
                                       th:text="${match.resultFor(activeUser.id).awayGoals}"></label>
                                 </th:block>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${canEdit}">
            <td colspan="3"></td>
            <td colspan="4"><button class="btn btn-sm btn-success" type="submit" name="action" value="update">Update</button></td>
        </tr>
    </tbody>
</table>
</form>
</body>
</html>
