<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Leaderboard</a></li>
            <th:block th:each="group : ${groups}">
                <li>
                    <a href="index" th:href="@{'/group/' + ${group.getGroupId()}}" th:text="${'Group'+ group.groupName}">grp</a>
                </li>
            </th:block>
            <li><a href="/playoff">Playoff</a></li>
            <li><a href="user"
                   th:href="@{'/user/'+ ${activeUser.displayName}}"
                   th:text="${activeUser.displayName}"
                   th:if="${activeUser.isValid()}"></a>
            </li>
            <li><a href="/user"
                   th:if="${not activeUser.isValid()}">Register</a>
            </li>
            <li><a href="/logout" th:if="${activeUser.isValid()}">Logout</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<form action="/playoff" method="get" name="form">
    <select th:name="userId" onchange="this.form.submit()">
        <option th:each=" userEntry : ${users}"
                th:value="${userEntry.id}"
                th:text="${userEntry.displayName}"
                th:selected="${user.id.equals(userEntry.id)}">teams
        </option>
    </select>
</form>
<form action="/playoff" method="post">
<input type="hidden" th:value="${user.id}" name="userId" />
<table width="100%">
    <thead>
    <th width="24%">Last sixteen</th>
    <th width="1%">&nbsp;</th>
    <th width="24%">Quarter Finals</th>
    <th width="1%">&nbsp;</th>
    <th width="24%">Semi Finals</th>
    <th width="1%">&nbsp;</th>
    <th width="25%">Final</th>
    </thead>
    <tbody>
        <tr>
            <th:block th:each="stage : ${stages}">
                <td width="24%">
                    <table class="table table-striped" width="100%">
                    <thead>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <th:block th:each="match : ${stage}">
                            <tr>
                                <td>
                                    <label  class="label label-success" th:text="${match.id}"></label>
                                </td>
                                <td>
                                    <label class="badge" th:text="${#dates.format(match.matchStart,'dd MMMM HH:mm')}"> start</label>
                                </td>
                                <td>
                                    <select th:name="${match.id + '_promoted'}" th:disabled="not ${playoffTreeEditable}">
                                        <option value="">--</option>
                                        <option th:each="team : ${teams}"
                                                th:value="${team}"
                                                th:text="${team}"
                                                th:selected="${match.resultFor(user.id).promoted.equals(team)}"
                                                >teams</option>
                                    </select>
                                </td>
                                <td>
                                    <label th:if="${match.hasResult()}"
                                           th:text="${match.scoreFor(user.id) + 'p'}"/>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="3">
                                    <label th:if="not ${user.admin and activeUser.admin }" th:text="${match.homeTeam}"></label>
                                    <input type="text"
                                           th:value="${match.homeTeam}"
                                           th:id="${match.id +'_homeTeam'}"
                                           th:name="${match.id +'_homeTeam'}"
                                           th:if="${user.admin and activeUser.admin }"/>

                                </td>
                                <td>
                                    <input type="text" size="2" maxlength="2"
                                           th:id="${match.id + '_h'}"
                                           name="away"
                                           th:value="${match.resultFor(user.id).homeGoals}"
                                           th:name="${match.id+'_h'}"
                                           th:if="${match.editable(activeUser) and canEdit} "/>
                                    <th:block th:if="${user.isValid()}">
                                        <label th:if="${not match.editable(activeUser)}"
                                               th:text="${match.resultFor(user.id).homeGoals}">
                                        </label>
                                    </th:block>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <label th:if="not ${user.admin and activeUser.admin}" th:text="${match.awayTeam}"></label>
                                    <input type="text"
                                           th:value="${match.awayTeam}"
                                           th:id="${match.id +'_awayTeam'}"
                                           th:name="${match.id +'_awayTeam'}"
                                           th:if="${user.admin and activeUser.admin}"/>
                                </td>
                                <td>
                                    <input type="text" size="2" maxlength="2"
                                           th:id="${match.id+'_a'}"
                                           name="away"
                                           th:value="${match.resultFor(user.id).awayGoals}"
                                           th:name="${match.id+'_a'}"
                                           th:if="${match.editable(activeUser) and canEdit}"/>
                                    <th:block th:if="${user.isValid()}">
                                        <label th:if="${not match.editable(activeUser)}"
                                           th:text="${match.resultFor(user.id).awayGoals}"></label>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                </td>
                <td>&nbsp;</td>
            </th:block>
        </tr>
        <tr th:if="${canEdit}">
            <td colspan="3"></td>
            <td colspan="4"><button class="btn btn-sm btn-success" type="submit" name="action" value="update">Update</button></td>
        </tr>
    </tbody>
</table>
</form>
</body>
</html>
