<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Leaderboard</a></li>
            <li><a href="/group/A">GroupA</a></li>
            <li><a href="/group/B">GroupB</a></li>
            <li><a href="/group/C">GroupC</a></li>
            <li><a href="/group/D">GroupD</a></li>
            <li><a href="/group/E">GroupE</a></li>
            <li><a href="/group/F">GroupF</a></li>
            <li><a href="/group/G">GroupG</a></li>
            <li><a href="/group/H">GroupH</a></li>
            <li><a href="/playoff">Playoff</a></li>
            <li><a href="user"
                   th:href="@{'/user/'+ ${activeUser.displayName}}"
                   th:text="${activeUser.displayName}"
                   th:if="${activeUser.isValid()}"></a>
            </li>
            <li><a href="/user"
                   th:if="${not activeUser.isValid()}">Register</a>
            </li>
            <li><a href="/logout" th:if="${activeUser.isValid()}">Logout</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>

<table>
    <thead>
        <th><h2>User details</h2></th>
        <th></th>
        <th><h2>Register user</h2></th>
    </thead>
    <tbody>
    <tr>
        <td width="30%">
            <form action="/user" method="post">
                <table width="100%">
                    <tbody>

                    <tr>
                        <td width="50%">
                            <label>Display name </label>
                        </td>
                        <td width="50%">
                            <label th:text="${user.displayName}" th:if="${not(canEdit)}">displayname</label>
                            <input type="text" name="displayName" id="displayName" th:value="${user.displayName}"
                                   th:if="${canEdit}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            <label>Email</label>
                        </td>
                        <td width="50%">
                            <label th:text="${user.email}"></label>
                        </td>
                    </tr>
                    <tr th:if="${not (activeUser == null)}">
                        <td><label>Admin user</label></td>
                        <td><input type="checkbox" name="isAdmin" th:if="${activeUser.admin}" th:checked="${user.admin}"/></td>
                    </tr>
                    <tr th:if="${canEdit}">
                        <td></td>
                        <td><button type="submit" name="action" value="update">Update</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
        <td width="10%">&nbsp;<!-- spacing --></td>
        <td width="30%">
            <form action="/user" method="post">
                <table width="100%">
                    <tbody>

                    <tr>
                        <td width="50%">
                            <label>Display name </label>
                        </td>
                        <td width="50%">
                            <input type="text" name="displayName" id="newDisplayName"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            <label>Email</label>
                        </td>
                        <td width="50%">
                            <input type="text" name="email" id="newEmail"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="action" value="register">Register</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>