<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css"/>

</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Leaderboard</a></li>
            <th:block th:each="group : ${groups}">
                <li>
                    <a href="index" th:href="@{'/group/' + ${group.getGroupId()}}" th:text="${'Group'+ group.groupName}">grp</a>
                </li>
            </th:block>
            <li th:if="${activeUser.admin}"><a href="/group/new">New group</a></li>
            <li><a href="/playoff">Playoff</a></li>
            <li><a href="user"
                   th:href="@{'/user/'+ ${activeUser.displayName}}"
                   th:text="${activeUser.displayName}"
                   th:if="${activeUser.isValid()}"></a>
            </li>
            <li><a href="/user"
                   th:if="${not activeUser.isValid()}">Register</a>
            </li>
            <li><a href="/logout" th:if="${activeUser.isValid()}">Logout</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<table>
    <tr>
        <td width="40%">
            <th:block th:if="${user.isValid()}">
                <form action="/user" method="post">
                    <table width="100%">
                        <thead>
                        <th><h2>User details</h2></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="50%">
                                <label>Display name</label>
                            </td>
                            <td width="50%">
                                <label th:text="${user.displayName}" th:if="${not(canEdit)}">displayname</label>
                                <input type="text" name="displayName" id="displayName" th:value="${user.displayName}"
                                       th:if="${canEdit}"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <label>Email</label>
                            </td>
                            <td width="50%">
                                <label th:text="${user.email}" th:if="${not(canEdit)}"></label>
                                <input type="text" name="email" id="email" th:value="${user.email}" th:if="${canEdit}"/>
                                <input type="hidden" name="userId" id="userId" th:value="${user.id}"
                                       th:if="${canEdit}"/>

                            </td>
                        </tr>
                        <tr th:if="${activeUser.admin}">
                            <td width="50%">
                                <label>Token</label>
                            </td>
                            <td width="50%">
                                <label th:text="${user.token}" th:if="${activeUser.admin}">Token</label>
                            </td>
                        </tr>
                        <tr th:if="${activeUser.admin}">
                            <td width="50%">
                                <label>Admin</label>
                            </td>
                            <td width="50%">
                                <input type="checkbox" name="admin" value="admin" th:checked="${user.admin}" />
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td width="50%">
                                <label>Top Scorer</label>
                            </td>
                            <td width="50%">
                                <input type="text" name="topScorer" th:value="${user.getTopScorer()}" id="topScorer"/>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Winner</label></td>
                            <td><select th:name="winner">
                                <option value="">--</option>
                                <option th:each="team : ${teams}"
                                        th:value="${team}"
                                        th:text="${team}"
                                        th:selected="${team.equals(user.getWinner())    }"> teams
                                </option>
                            </select></td>
                        </tr>
                        <tr th:if="${canEdit}">
                            <td></td>
                            <td>
                                <button class="btn btn-sm btn-success" type="submit" name="action" value="update">
                                    Update
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </th:block>
        </td>
        <td width="10%">&nbsp;</td>
        <td width="40%">
            <th:block th:if="not ${activeUser.isValid()}">
                <form action="/user" method="post">
                    <table width="100%" th:if="${not activeUser.isValid()}">
                        <thead>
                        <th><h2>Register</h2></th>
                        </thead>
                        <tbody>

                        <tr>
                            <td width="50%">
                                <label>Display name </label>
                            </td>
                            <td width="50%">
                                <input type="text" name="displayName" id="newDisplayName"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <label>Email</label>
                            </td>
                            <td width="50%">
                                <input type="text" name="email" id="newEmail"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-sm btn-success" type="submit" name="action" value="new">
                                    Register
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </th:block>
        </td>
    </tr>
</table>
</body>
</html>
